<!-- <form [formGroup]="loginForm"
  (ngSubmit)="onSubmit(loginForm.value)"
  [class.error]="!loginForm.valid && loginForm.touched"
  *ngIf="!authService.getUser()">

  <div class="container"
    [class.error]="!loginForm.controls['uname'].valid && loginForm.controls['uname'].touched">
    <label for="uname"><b>Username</b></label>
    <input type="text" 
            placeholder="Enter Username" 
            name="username" 
            [formControl]="loginForm.controls['uname']"
            #username
            required>

    <div *ngIf="loginForm.controls['uname'].hasError('required')" class="hint">
      Account is required!</div>
    <div *ngIf="!loginForm.controls['uname'].valid" class="hint">
      Account is invalid!</div>


    <br/>
    <label for="psw"><b>Password</b></label>
 
    <input type="password" 
            laceholder="Enter password" 
            name="psw" 
            [formControl]="loginForm.controls['psw']"
            #password
            required>

    <div *ngIf="loginForm.controls['psw'].hasError('required')" class="hint">
      Password is required!</div>
    <div *ngIf="!loginForm.controls['psw'].valid" class="hint">
      Password is invalid!</div>

    <button type="submit" (click)="login(useranme.toString(), password.toString())">Login</button>

    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div *ngIf="!loginForm.valid">
    Form is invalid!</div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form> 
-->

<div class="container"  *ngIf="!authService.getUser()">
  <form class="form-inline">
    <div class="form-group">
      <label for="useranme"><b>User: </b></label>
      <input class="form-control" type="text" id="username" name="username" #username>
    </div>
  
    <div class="form-group">
      <label for="password"><b>Password: </b></label>
      <input class="form-control" type="password" id="password" name="password" #password>
    </div>
  
    <button type="submit" (click)="login(useranme, password)">Submit</button>
  </form>
</div>


<div class="cs" *ngIf="authService.getUser()=='CS'">
  Logged in as <b>{{authService.getUser()}}</b>
  <br/>
  <a href (click)="logout()">Logout</a>
  <event-request></event-request>
</div>

<div class="pm" *ngIf="authService.getUser()=='PM'">
  Logged in as <b>{{authService.getUser()}}</b>
  <br/>
  <a href (click)="logout()">Logout</a>
  <pm></pm>
</div>


<div class="alert" role="alert" *ngIf="message">
  {{message}}
</div>