<div class="tab">
    <button class="tablinks" (click)="openTab('General')">General</button>
    <button class="tablinks" (click)="openTab('Decorations')">Decorations</button>
    <button class="tablinks" (click)="openTab('Music')">Music</button>
  </div>
  
  <div id="General" class="tabcontent">
    <h3>General</h3>
    <assignment></assignment>
  </div>
  
  <div id="Decorations" class="tabcontent">
    <h3>Decorations</h3>
    <assignment></assignment>
  </div>
  
  <div id="Music" class="tabcontent">
    <h3>Music</h3>
    <assignment></assignment>
  </div>