<div class="container">
    <h2>Administration Management</h2>
    <label for="token">List Index</label>
    <input type="text" 
            name="token"
            id="token" 
            #token>
    <br/>
    <label for="newstatus">New Status</label>
    <input type="text" 
            name="newstatus"
            id="newstatus" 
            #newstatus>
    <br/>
    <button (click)="updateStatus(token, newstatus)">Change status</button>
    <br/>
    <button (click)="redirectToSCS(token)">Redirect To SCS</button>
</div>

<h2>Administration Manager's Event List</h2>
<table id="am-event-list">
    <thead>    
        <tr>
            <th>No.</th>
            <th>Record Number</th>
            <th>Client Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let event of amEvents; let i = index"
            [event] = event>
            <td>{{i+1}}</td>
            <td>{{event.record}}</td>
            <td>{{event.cname}} </td>
            <td>{{event.status}}</td>
        </tr>
    </tbody>
</table>